<div class="d-flex justify-content-end m-3">
  <%= link_to 'Homepage', root_path, class: 'btn btn-outline-dark' %>
</div>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-2 card p-3 m-2">
      <%= link_to banner_config_path do  %>
        <h2 class="text-center text-dark fw-bolder text-decoration-underline">Banner</h2>
        <p class="fw-light text-center text-secondary">Edite legendas e fotos do banner</p>
      <% end %>
    </div>

    <div class="col-2 card p-3 m-2">
      <%= link_to card_config_path do %>
        <h2 class="text-center text-dark fw-bolder text-decoration-underline">Card</h2>
        <p class="fw-light text-center text-secondary">Crie, Edite e Delete Cards</p>
      <% end %>
    </div>

    <div class="col-2 card p-3 m-2">
      <%= link_to section_config_path do %>
        <h2 class="text-center text-dark fw-bolder text-decoration-underline">Seção</h2>
        <p class="fw-light text-center text-secondary">
          Crie, Edite e Delete Seções
        </p>
      <% end %>
    </div>

    <div class="card m-2 col-2" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item fw-light text-center text-secondary"><i class="fa-solid fa-circle-plus"></i>  para criar</li>
        <li class="list-group-item fw-light text-center text-secondary"><i class="fa-solid fa-delete-left"></i> para excluir</li>
        <li class="list-group-item fw-light text-center text-secondary">clique no nome para editar</li>
      </ul>
    </div>

  </div>
</div>




<%# <ul>
  <li></li>
  <li></li>
  <li></li>
</ul> %>

<table class="table m-2 p-1">
  <thead>
    <tr>
      <th scope="col">Atração
        <%= link_to new_leisure_path do%>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </th>
      <th scope="col">Categoria
        <%= link_to new_category_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </th>
      <th scope="col">Estabelecimentos
        <%= link_to new_venue_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </th>
      <th scope="col">Gêneros
        <%= link_to new_genre_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @leisures.order(:title).each do |leisure|%>
    <tr>
      <td>
        <%=link_to "#{leisure.title.upcase}", edit_leisure_path(leisure)%>
        <%= link_to leisure_path(leisure), data: {turbo_method: :delete, turbo_confirm: "tem certeza?"} do %>
          <i class="fa-solid fa-delete-left"></i>
        <% end %>
      </td>
      <td><%=link_to "#{leisure.category.name.upcase}", edit_category_path(leisure.category)%></td>
      <td><% if leisure.venues.empty? %>
            <i style="color: gray">sem estabelecimentos</i>
          <%else%>
            <% leisure.venues.each do |venue|  %>
              <% leisure_venue = LeisureVenue.where(leisure_id: leisure.id, venue_id: venue.id)[0]  %>
              <span class="badge badge-dark">
                <%=link_to "#{venue.name}", edit_venue_path(venue) %>
                <%= link_to leisure_venue_path(leisure_venue), data: {turbo_method: :delete, turbo_confirm: "tem certeza?"} do %>
                  <i class="fa-solid fa-delete-left"></i>
                <% end %>
              </span>
            <% end %>
        <% end %>
      </td>
      <td><% if leisure.genres.empty? %>
            <i style="color: gray">sem gêneros</i>
          <%else%>
            <%leisure.genres.each do |genre|  %>
              <span class="badge badge-dark">
                <%= link_to "#{genre.name}", edit_genre_path(genre) %>
                <% leisure_genre = LeisureGenre.where(leisure_id: leisure.id, genre_id: genre.id)[0]  %>
                <%= link_to leisure_genre_path(leisure_genre), data: {turbo_method: :delete, turbo_confirm: "tem certeza?"} do %>
                  <i class="fa-solid fa-delete-left"></i>
                <% end %>
              </span>
            <% end %>
          <% end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
