<div class="my-2 home">
  <%= render 'shared/sidebar' %>
  <div class="main-content">

    <%= render 'shared/header' %>
    <%= turbo_frame_tag 'content' do %>

      <div class="container p-1">
        <div class="row d-flex">
          <div class=" align-self-center main-banner col-lg-8 pe-lg-1 col-12">
            <div>
              <%= render 'banners/show' %>
            </div>

          </div>
          <div class="col-lg-4 pw-3 col-12" >
            <div class="mb-2" >
              <%= render 'shared/search_links' %>
            </div>
            <div class=" main-content__col">
              <%= render 'shared/newsletter' %>
            </div>
          </div>
        </div>
      </div>

      <%= render 'sections/list', sections: @sections %>

    <% end %>
  </div>
</div>
