<div class="my-2 home">
  <%= render 'shared/sidebar' %>
  <div class="main-content">

    <%= turbo_frame_tag 'content' do %>

      <%= render 'shared/header' %>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 main-content__col">
            <%= render 'shared/social_media' %>
          </div>
          <div class="col-lg-4 col-12">
            <%= render 'banners/show' %>
            <%= render 'shared/search_links' %>
            
          </div>
          <div class="col-lg-4 main-content__col">
            <%= render 'shared/newsletter' %>
          </div>
        </div>
      </div>

      <%= render 'sections/list', sections: @sections %>

    <% end %>
  </div>
</div>