<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 bg-light rounded p-4">
      <h2 class="text-center h3 mb-3 fw-bold">Nova atração</h2>
      <p style="color: gray">
        Com este formulário você pode criar novas postagens, especificando sua categoria, gênero, estabelecimentos, e demais informações.
      </p>
      <%= simple_form_for (@leisure) do |f| %>
        <%= f.input :title, label: 'Título:' , error: 'Título é obrigatório.', label_html: { class: 'fw-bold' } %>

        <%= f.input :subtitle, label: 'Subtítulo:', label_html: { class: 'fw-bold' } %>

        <%= f.input :description, as: :text, label: 'Sinopse:', label_html: { class: 'fw-bold' } %>

        <div class="row ">
          <p class="fw-bold">O evento é gratuito?</p>
          <div class="d-flex justify-content-evenly py-2">
            <%= f.collection_radio_buttons :free, [[true, 'Grátis'], [false, 'Pago']], :first, :last, label_html: { class: 'mx-1'} %>
          </div>
        </div>

        <%= f.input :country, priority: ["BR", "US"],  include_blank: 'Selecione um país:' , label: 'País:', label_html: { class: 'fw-bold' }, input_html: { class: 'form-select' } %>

        <%= f.input :director, label: 'Diretor(a):', label_html: { class: 'fw-bold' } %>

        <%= f.input :features, label: 'Destaques:', label_html: { class: 'fw-bold' },  placeholder: 'Ex: Angelina Jolie, Brad Pitt e Lázaro Ramos' %>
        <div class="row">
          <div class="col-lg-6 col-12">
            <%= f.input :min_age, collection: [12, 14, 16, 18], label: 'Faixa etária:', label_html: { class: 'fw-bold' } %>
          </div>
          <div class="col-lg-6 col-12">
            <%= f.input :duration, as: :string, label: 'Duração:', label_html: { class: 'fw-bold' }, placeholder: "Ex: 60'" %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <%= f.input :schedule, label: 'Horários:', label_html: { class: 'fw-bold' }, placeholder: "Ex: sex/ sáb, 20h | dom, 18h" %>
          </div>
          <div class="col-lg-6 col-12">
            <%= f.input :date, label: 'Data:', label_html: { class: 'fw-bold' }, placeholder: "Ex: 21/jun a 07/jul" %>
          </div>
          <div class="col-lg-6 col-12">
            <%= f.input :start_date, label: 'Data de pulicação:', label_html: { class: 'fw-bold' } %>
          </div>
          <div class="col-lg-6 col-12">
            <%= f.input :end_date, label: 'Data de validade:', label_html: { class: 'fw-bold' } %>
          </div>
        </div>

        <%= f.input :hidden, label: 'Oculto',label_html: { class: 'fw-bold' } %>

          <div class="row">
            <div class="col-lg-6 col-12">
              <%= f.association :venues,  label: 'Estabelecimento:', label_html: { class: 'fw-bold' }, input_html: {multiple: true, required: true,
						data: { controller: 'tom-select'}  }, prompt: "Escolha os estabelecimentos:" %>
            </div>
            <div class="col-lg-6 col-12">
              <%= f.association :category, label: 'Categoria:', label_html: { class: 'fw-bold' }, input_html: {class: 'form-select' }, prompt: "Escolha uma categoria:" %>
            </div>
            <div class="col-lg-6 col-12">
              <%= f.association :genres, label: 'Gêneros:', label_html: { class: 'fw-bold' }, input_html: { multiple: true,
						data: { controller: 'tom-select'}  }, prompt: "Escolha os gêneros:" %>
            </div>
          </div>
        <%= f.input :photo, as: :file, label_html: { class: 'fw-bold' } %>
        <%= f.input :link, label_html: { class: 'fw-bold' } %>
        <div class="d-grid gap-2 col-6 mx-auto my-4">
          <%= f.button :submit, "Salvar evento", class: 'btn btn-success fw-bold' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
