<%= simple_form_for (banner) do |f| %>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_one, as: :file, label: 'Foto 1:', label_html: { class: 'fw-bold' }, error: 'A foto 1 é obrigatória - adicione uma foto.', hint: 'Campo obrigatório.' %>

    <%= f.input :caption_one, label: 'Legenda 1:', label_html: { class: 'fw-bold' }, error: 'A legenda 1 é obrigatória - adicione uma legenda.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_two, as: :file, label: 'Foto 2:', label_html: { class: 'fw-bold' }, error: 'A foto 2 é obrigatória - adicione uma foto.', hint: 'Campo obrigatório.' %>

    <%= f.input :caption_two, label: 'Legenda 2:', label_html: { class: 'fw-bold' }, error: 'A legenda 2 é obrigatória - adicione uma legenda.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_three, as: :file, label: 'Foto 3:', label_html: { class: 'fw-bold' } %>

    <%= f.input :caption_three, label: 'Legenda 3:', label_html: { class: 'fw-bold' } %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_four, as: :file, label: 'Foto 4:', label_html: { class: 'fw-bold' } %>

    <%= f.input :caption_four, label: 'Legenda 4:', label_html: { class: 'fw-bold' } %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto my-4">
    <%= f.submit 'Atualizar banner', class: 'btn btn-success fw-bold' %>
  </div>
    
<% end %>