<%= simple_form_for (banner) do |f| %>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_one, as: :file, label: 'Foto 1:', label_html: { class: 'fw-bold' }, error: 'A foto 1 é obrigatória - adicione uma foto.', hint: 'Campo obrigatório.' %>

    <%= f.input :title_one, label: 'Título 1:', label_html: { class: 'fw-bold' } %>
    <%= f.input :caption_one, label: 'Legenda 1:', label_html: { class: 'fw-bold' }, error: 'A legenda 1 é obrigatória - adicione uma legenda.', hint: 'Campo obrigatório.' %>
    <%= f.input :link_one, label: 'Link 1:', label_html: { class: 'fw-bold' }, error: 'O link 1 é obrigatório - adicione um link.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_two, as: :file, label: 'Foto 2:', label_html: { class: 'fw-bold' }, error: 'A foto 2 é obrigatória - adicione uma foto.', hint: 'Campo obrigatório.' %>

    <%= f.input :title_two, label: 'Título 2:', label_html: { class: 'fw-bold' } %>
    <%= f.input :caption_two, label: 'Legenda 2:', label_html: { class: 'fw-bold' }, error: 'A legenda 2 é obrigatória - adicione uma legenda.', hint: 'Campo obrigatório.' %>
    <%= f.input :link_two, label: 'Link 2:', label_html: { class: 'fw-bold' }, error: 'O link 2 é obrigatório - adicione um link.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_three, as: :file, label: 'Foto 3:', label_html: { class: 'fw-bold' } %>

    <%= f.input :title_three, label: 'Título 3:', label_html: { class: 'fw-bold' } %>
    <%= f.input :caption_three, label: 'Legenda 3:', label_html: { class: 'fw-bold' } %>
    <%= f.input :link_three, label: 'Link 3:', label_html: { class: 'fw-bold' }, error: 'O link 3 é obrigatório - adicione um link.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_four, as: :file, label: 'Foto 4:', label_html: { class: 'fw-bold' } %>

    <%= f.input :title_four, label: 'Título 4:', label_html: { class: 'fw-bold' } %>
    <%= f.input :caption_four, label: 'Legenda 4:', label_html: { class: 'fw-bold' } %>
    <%= f.input :link_four, label: 'Link 4:', label_html: { class: 'fw-bold' }, error: 'O link 4 é obrigatório - adicione um link.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="border-start border-3 border-success-subtle px-3 py-2 my-2 bg-secondary-subtle rounded">
    <%= f.input :photo_five, as: :file, label: 'Foto 5:', label_html: { class: 'fw-bold' } %>

    <%= f.input :title_five, label: 'Título 5:', label_html: { class: 'fw-bold' } %>
    <%= f.input :caption_five, label: 'Legenda 5:', label_html: { class: 'fw-bold' } %>
    <%= f.input :link_five, label: 'Link 5:', label_html: { class: 'fw-bold' }, error: 'O link 5 é obrigatório - adicione um link.', hint: 'Campo obrigatório.' %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto my-4">
    <%= f.submit 'Atualizar banner', class: 'btn btn-success fw-bold' %>
  </div>

<% end %>
