<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="banner-photo"
      style="background-image: url('<%= cl_image_path @banner.photo_one.key, crop: :fill %>')">
      </div>
      
      <div class="legenda-carrosel">
        <p><%= @banner.caption_one %></p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="banner-photo"
      style="background-image: url('<%= cl_image_path @banner.photo_two.key, crop: :fill %>')">
      </div>
      <div class="legenda-carrosel">
        <p><%= @banner.caption_two %></p>
      </div>
    </div>

    <% if @banner.caption_three? && @banner.photo_three.attached? %>
      <div class="carousel-item">
        <div class="banner-photo"
        style="background-image: url('<%= cl_image_path @banner.photo_three.key, crop: :fill %>')">
        </div>
        <div class="legenda-carrosel">
          <p><%= @banner.caption_three %></p>
        </div>
      </div>
    <% end %>

    <% if @banner.caption_four? && @banner.photo_four.attached? %>
      <div class="carousel-item">
        <div class="banner-photo"
        style="background-image: url('<%= cl_image_path @banner.photo_four.key, crop: :fill %>')">
        </div>
        <div class="legenda-carrosel">
          <p><%= @banner.caption_four %></p>
        </div>
      </div>
    <% end %>

    <% if @banner.caption_five? && @banner.photo_five.attached? %>
      <div class="carousel-item">
        <div class="banner-photo"
        style="background-image: url('<%= cl_image_path @banner.photo_five.key, crop: :fill %>')">
        </div>
        <div class="legenda-carrosel">
          <p><%= @banner.caption_five %></p>
        </div>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

