<div id="carouselExample" class="carousel slide mx-3" >
  <div class="carousel-inner">

    <div class="carousel-item active">
      <%= link_to @banner.link_one, target: "_blank" do %>
        <div class="banner-photo"
        style="background-image: url('<%= optimized_cl_image_path(@banner.photo_one.key, width: 1000, crop: :fill, gravity: :auto) %>')">
        </div>


        <div class="legenda-carrosel">
          <p><strong><%= @banner.title_one %></strong> <%= @banner.caption_one %></p>
        </div>
      <% end %>
    </div>


    <div class="carousel-item">
      <%= link_to @banner.link_two, target: "_blank" do %>
        <div class="banner-photo"
        style="background-image: url('<%= optimized_cl_image_path(@banner.photo_two.key, width: 1000, crop: :fill, gravity: :auto) %>')">
        </div>

        <div class="legenda-carrosel">
          <p><strong><%= @banner.title_two %></strong> <%= @banner.caption_two %></p>
        </div>
      <% end %>
    </div>

    <% if @banner.caption_three? && @banner.photo_three.attached? %>
      <div class="carousel-item">
        <%= link_to @banner.link_three, target: "_blank" do %>
          <div class="banner-photo"
        style="background-image: url('<%= optimized_cl_image_path(@banner.photo_three.key, width: 1000, crop: :fill, gravity: :auto) %>')">
        </div>

          <div class="legenda-carrosel">
            <p><strong><%= @banner.title_three %></strong> <%= @banner.caption_three %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @banner.caption_four? && @banner.photo_four.attached? %>
      <div class="carousel-item">
        <%= link_to @banner.link_four, target: "_blank" do %>
          <div class="banner-photo"
        style="background-image: url('<%= optimized_cl_image_path(@banner.photo_four.key, width: 1000, crop: :fill, gravity: :auto) %>')">
        </div>

          <div class="legenda-carrosel">
            <p><strong><%= @banner.title_four %></strong> <%= @banner.caption_four %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @banner.caption_five? && @banner.photo_five.attached? %>
      <div class="carousel-item">
        <%= link_to @banner.link_five, target: "_blank" do %>
          <div class="banner-photo"
        style="background-image: url('<%= optimized_cl_image_path(@banner.photo_five.key, width: 1000, crop: :fill, gravity: :auto) %>')">
        </div>

          <div class="legenda-carrosel">
            <p><strong><%= @banner.title_five %></strong> <%= @banner.caption_five %></p>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
