<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-12">
      <%= simple_form_for (@banner) do |f| %>
        <%= f.input :photo_one, as: :file, label: 'Foto Um:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_one %>

        <%= f.input :photo_two, as: :file, label: 'Foto Dois:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_two %>

        <%= f.input :photo_three, as: :file, label: 'Foto Três:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_three %>

        <%= f.input :photo_four, as: :file, label: 'Foto Quatro:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_four %>
        
        <%= f.submit 'Criar banner', class: 'btn btn-success fw-bold' %>
      <% end %>
    </div>
  </div>
</div>