<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 bg-light rounded p-4">
      <h1 class="fw-bold h3 text-center">Criar novo banner central:</h1>

      <%= simple_form_for (@banner) do |f| %>
        <%= f.input :photo_one, as: :file, label: 'Foto Um:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_one %>

        <%= f.input :photo_two, as: :file, label: 'Foto Dois:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_two %>

        <%= f.input :photo_three, as: :file, label: 'Foto Três:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_three %>

        <%= f.input :photo_four, as: :file, label: 'Foto Quatro:', label_html: { class: 'fw-bold' } %>
        <%= f.input :caption_four %>

        <div class="d-grid gap-2 col-6 mx-auto my-4">
          <%= f.submit 'Criar banner', class: 'btn btn-success fw-bold' %>
        </div>
        
        
      <% end %>
    </div>
  </div>
</div>