<div class="<%= leisure.category.name.downcase %> col-12 col-md-6 col-lg-4 mb-2 " id="leisure-card">
  <div class="letreiro">
    <div class="foto-horizontal" style="background-image: url('<%= cl_image_path leisure.photo.key %>')"></div>
    <div class="infos-<%= leisure.category.name.downcase %>">
      <p id="categoria">
        EXPO
      </p>
      <strong><%= leisure.title.upcase %></strong>
      <p><%= leisure.subtitle %></p>
      <p id="horario">
        <%= leisure.schedule %> | <%= leisure.date %>
      </p>
      <p id="venue"><%= leisure.venues.last.name %></p>
      <br>
      <a href="<%= leisure.link.starts_with?('http') ? leisure.link : 'https://' + leisure.link %>"class="button-small"><%= leisure.free? ? "mais informações" : "comprar ingresso" %></a>
    </div>
  </div>
  <div class="sinopse" data-controller="read-more" data-read-more-more-text-value="Ver mais" data-read-more-less-text-value="Ver menos">
    <p class="mb-0" data-read-more-target="content">
      <%= leisure.description.gsub("\n", "<br>").html_safe %>
      <br>
      <br>
      <strong id="venue"><%= leisure.venues.last.name %></strong> - <%= leisure.venues.first.address %>
    </p>
    <% if leisure.description.length > 40%>
      <button class=" p-0" style="border: none; background: none" data-action="read-more#toggle">Ver Mais</button>
    <% end %>
  </div>
</div>
