<div class="<%= leisure.category.name.downcase %> col-12 col-md-6  col-lg-4 mb-2 " id="leisure-card">
  <div class="letreiro-filme">
    <div class="foto-<%= leisure.category.name.downcase %>" style="background-image: url('<%= optimized_cl_image_path(leisure.photo.key, width: 500, crop: :fill, gravity: :auto) %>')"></div>
    <div class="infos-<%= leisure.category.name.downcase %>">
      <p id="categoria">
        CINEMA
      </p>
      <strong><%= leisure.title.upcase %></strong>
      <p> <% names = [] %>
          <% leisure.genres.each do |genre| %>
            <% names << genre.name %>
          <% end %>
          <%= names.join(" / ") %>
        | Dir. <%= leisure.director %> | <%= leisure.country? ? ISO3166::Country[leisure.country].alpha3 : "-"  %> |
        <%if leisure.min_age == 0 %>
          L
        <% elsif leisure.min_age.nil? %>
          -
        <% else %>
          <%= leisure.min_age.to_s %>
        <% end %>
        | <%= leisure.duration %>'  </p>
      <p id="horario">
        <%= leisure.date? ? leisure.date : " " %>
      </p>
      <a href="<%= leisure.link.starts_with?('http') ? leisure.link : 'https://' + leisure.link %>"class="button-small" target="_blank"><%= leisure.free? ? "mais informações" : "comprar ingresso" %></a>
    </div>
  </div>
  <div class="sinopse" data-controller="read-more" data-read-more-more-text-value="Ver mais" data-read-more-less-text-value="Ver menos">
    <p class="mb-0" data-read-more-target="content">
      <%= leisure.description.gsub("\n", "<br>").html_safe %>
      <br>
      <strong class="film-features">Com <%= leisure.features %></strong>
      <br>
      <br>
      <strong>
          <% venues = [] %>
          <% leisure.venues.each do |venue| %>
            <% venues << venue.name %>
          <% end %>
          <%= venues.join(" | ") %>
      </strong>
    </p>
    <% if leisure.description.length > 40%>
      <button class=" p-0" style="border: none; background: none" data-action="read-more#toggle">Ver Mais</button>
    <% end %>
  </div>
</div>
