<div class="<%= leisure.category.name.downcase %> col-12 col-md-6  col-lg-4 mb-2 " id="leisure-card" data-controller="share">
  <div class="letreiro">
    <div class="foto-horizontal" style="background-image: url('<%= optimized_cl_image_path(leisure.photo.key, width: 500, crop: :fill, gravity: :auto) %>')" aria-label="<%= leisure.title %>" role="img"></div>
    <div class="infos-<%= leisure.category.name.downcase %>">
      <p id="categoria">
        MÚSICA
      </p>
      <strong><%= leisure.title.upcase %></strong>
      <p><em><%= leisure.subtitle %></em></p>
      <p id="horario"><em>
        <i class="fa-regular fa-calendar"></i> <%= leisure.schedule %> | <%= leisure.date %>
      </em></p>
      # <p class="real"><i class="fa-solid fa-ticket fa-rotate-by" style="color: #080a0c; --fa-rotate-angle: 45deg;"></i> a partir de R$</p>
      <p id="venue"><%= leisure.venues.last.name %></p>
      <div class="card-actions">
        <a href="<%= leisure.link.starts_with?('http') ? leisure.link : 'https://' + leisure.link %>"class="button-small" target="_blank"><%= leisure.free? ? "mais informações" : "comprar ingresso" %></a>
        <button class="button-small-2" style="font-weight: bold" data-share-target="botao" data-action="click->share#share">compartilhar <i class="fa-solid fa-link"></i></button>
      </div>
      <p class="d-none" data-share-target="id"><%= leisure.id %></p>
    </div>
  </div>
  <div class="sinopse" data-controller="read-more" data-read-more-more-text-value="Ver mais" data-read-more-less-text-value="Ver menos">
    <p class="mb-0" data-read-more-target="content">
      <%= leisure.description.gsub("\n", "<br>").html_safe %>
      <br>
      <br>
      <strong id="venue"><%= leisure.venues.last.name %></strong> - <%= leisure.venues.first.address %>
    </p>
    <% if leisure.description.length > 40%>
      <button class=" p-0" style="border: none; background: none" data-action="read-more#toggle">Ver Mais</button>
    <% end %>
  </div>
</div>
