<div class="navbar navbar-expand-sm navbar-light navbar-jae" >
  <div class="container-fluid">
    <div class="navbar-form" data-controller="search">
      <%= form_with url: leisures_path, method: :get, html: {class:
        "", data: { search_target: "form" } } do |f| %>
        <%= f.text_field :query,
          class: "form-control",
          placeholder: "Procure por um evento",
          value: params[:query],

          data: { search_target: "input",
          action: "keyup->search#update" }
        %>
        <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

        <% if current_user.admin? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Listas
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Eventos", leisures_path, class: "dropdown-item" %>
                <%= link_to "Categorias", categories_path, class: "dropdown-item" %>
                <%= link_to "Estabelecimentos", venues_path, class: "dropdown-item" %>
                <%= link_to "Gêneros", genres_path, class: "dropdown-item" %>
              </div>
          </li>
          <% end %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "ja_e_fundo_uva.png", alt: "logo jaé", class: 'avatar mt-1' %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
