<div id="sidebar" class="sidebar" data-controller="selector" >
  <ul class="categorias"  data-controller="subcategory-selector">

    <%= link_to filme_path, data: { turbo_frame: 'content' }, style: "color: white" do %>
      <div class="square categorias-cinema" id="filme" data-selector-target="filme"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>CINEMA</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector" >
          <% Category.find_by(name: 'Filme').subcategories.each do |subcategory| %>
            <%= link_to filme_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link" class=""  ><%= subcategory.name.downcase %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to musica_path, data: { turbo_frame: 'content' }, style: "color: white" do %>
      <div class="square categorias-musica" id="musica" data-selector-target="musica"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>MÚSICA</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Musica').subcategories.each do |subcategory| %>
            <%= link_to musica_path(subcategory: subcategory), data: { turbo_frame: 'content',  action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link" class=""><%= subcategory.name.downcase  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to teatro_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-teatro" id="teatro" data-selector-target="teatro"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>TEATRO</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Teatro').subcategories.each do |subcategory| %>
          <%= link_to teatro_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter ' , subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link"><%= subcategory.name.downcase  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to danca_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-danca" id="danca" data-selector-target="danca"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>DANÇA</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Danca').subcategories.each do |subcategory| %>
            <%= link_to danca_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link"><%= subcategory.name.downcase  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to evento_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-evento" id="evento" data-selector-target="evento"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>EVENTO</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Evento').subcategories.each do |subcategory| %>
            <%= link_to evento_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link"><%= subcategory.name.downcase  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to visao_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-visao" id="visao" data-selector-target="visao"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>COLUNAS</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Visão').subcategories.each do |subcategory| %>
            <%= link_to visao_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link"><%= subcategory.name.downcase  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to expo_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-expo" id="expo" data-selector-target="expo"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>EXPO</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% Category.find_by(name: 'Expo').subcategories.each do |subcategory| %>
            <%= link_to expo_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
              <li id="subcategory-link"><%= subcategory.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to mais_path, data: { turbo_frame: 'content' }, style: "color: white"  do %>
      <div class="square categorias-mais" id="mais" data-selector-target="mais"  data-action="click->selector#select click->subcategory-selector#clear">
        <li>MAIS</li>
        <ul class="menu-square d-none" data-controller="subcategory-selector">
          <% if (mais = Category.find_by(name: 'Mais')) && mais.subcategories.any? %>
            <% mais.subcategories.each do |subcategory| %>
              <%= link_to mais_path(subcategory: subcategory), data: { turbo_frame: 'content', action: 'click->subcategory-selector#filter', subcategory_selector_target: "subcategory" }, style: "color: white"  do  %>
                <li id="subcategory-link"><%= subcategory.name %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="icon-square my-2">
      <a href="https://www.instagram.com/jaeprogramacao/" style=" color:inherit;"><i class="fa-brands fa-instagram fa-2xl insta"></i></a>
    </div>
    <div class="icon-square my-2">
      <a href="http://eepurl.com/iMr0Ws" target="_blank" ><i class="fa-regular fa-envelope insta fa-2xl"></i></a>
    </div>

  </ul>
</div>
