<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 p-3">
      <h2 class="text-center fw-bold fs-4 text-decoration-underline my-3">Seções e Cards</h2>

      <h2 class="fw-bold fs-5 my-4">
        Esta é uma lista de todas as seções que existem na homepage.
      </h2>
      <p class="fs-6"> - Se quiser remover algum card de alguma seção, clique no X que existe dentro de cada card. </p>


    </div>
  </div>
</div>

<div class="container">
  <% sections.each do |section| %>
    <div class="main-section-bar">
      <h3 class="m-2"><%= section.title.downcase %></h3>
      <div class="main-section-cards">
        <% section.cards.each do |card| %>
          <% if card.leisure.category.name == "Filme" %>
            <div class="card card-film">
              <div class="position-relative">
                <%= cl_image_tag card.leisure.photo.key, crop: :fill, class: 'card-film-image', alt: card.leisure.alt_text.presence || card.leisure.title %>
                <% if current_user.admin %>
                  <%= link_to section_card_path(SectionCard.find_by_section_id_and_card_id(section.id, card.id)), class: 'text-danger p-2 bg-light rounded card-film-delete position-absolute',
                  data: {turbo_method: :delete, turbo_confirm: "Quer apagar este card?"} do
                  %>
                    <i class="fa-solid fa-delete-left"></i>
                  <% end %>

                <% end %>

              </div>
              <div class="card-film-body">
                <p class="m-0"><span class="fw-light px-1">Cinema | <span class="fw-bold px-1"><%= card.leisure.title %></span></p>
                <p class="px-1 m-0"> <%= card.leisure.date %> | <%= card.leisure.schedule %> | <%= card.leisure.leisure_venues[0].venue.name %></p>
              </div>
            </div>

          <% else %>
            <div class="card card-else">
              <div class="position-relative">
                <%= cl_image_tag card.leisure.photo.key, crop: :fill, class: 'card-else-image', alt: card.leisure.alt_text.presence || card.leisure.title %>
                <% if current_user.admin %>
                  <%= link_to section_card_path(SectionCard.find_by_section_id_and_card_id(section.id, card.id)), class: 'text-danger p-2 bg-light rounded card-film-delete position-absolute',
                  data: {turbo_method: :delete, turbo_confirm: "Quer apagar este card?"} do
                  %>
                    <i class="fa-solid fa-delete-left"></i>
                <% end %>
              <% end %>
              </div>

              <div class="card-else-body">
                <p class="m-0"><span class="fw-light px-1">
                  <% if card.leisure.category.name == "Danca" %>
                    Dança
                  <% elsif card.leisure.category.name == "Musica" %>
                    Música
                  <% else %>
                    <%=card.leisure.category.name  %>
                  <% end %>
                </span> | <span class="fw-bold px-1"><%= card.leisure.title %></span></p>
                <p class="px-1 m-0"> <%= card.leisure.date %> | <%= card.leisure.schedule %> | <%= card.leisure.leisure_venues[0].venue.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
