<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 bg-light rounded p-4">
      <h2 class="text-center h3 mb-3 fw-bold">Estabelecimentos
        <%= link_to new_venue_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Capacidade</th>
            <th scope="col">Endereço</th>
            <th scope="col">Região</th>
            <th scope="col">Website</th>

          </tr>
        <tbody>
          <% @venues.each do |venue|%>
            <tr>
              <td>
                <%= link_to "#{venue.name}", edit_venue_path(venue)%>
                <%= link_to venue_path(venue), data: {turbo_method: :delete, turbo_confirm: "tem certeza?"} do %>
                    <i class="fa-solid fa-delete-left"></i>
                <% end %>
              </td>
              <td><%= venue.capacity %></td>
              <td><%= venue.address %></td>
              <td><%= venue.zone %></td>
              <td><%= venue.website %></td>
            </tr>
          <% end %>
    </div>
  </div>
</div>
