<% cards.each do |card| %>
  <% if card.leisure.category.name == "Filme" %>
    <div class="card card-film">
      <div class="position-relative">
        <%= cl_image_tag card.leisure.photo.key, crop: :fill, width: 500, class: 'card-film-image', alt: card.leisure.alt_text.presence || card.leisure.title %>

        <% if current_user.admin %>
          <%= link_to card_path(card), class: 'text-danger p-2 bg-light rounded card-film-delete position-absolute',
          data: {turbo_method: :delete, turbo_confirm: "Quer apagar este card?"} do
          %>
            <i class="fa-solid fa-delete-left"></i>
          <% end %>
        <% end %>
      </div>

      <div class="card-film-body">
        <p class="m-0"><span class="fw-light px-1"><%= card.leisure.category.name %></span> | <span class="fw-bold px-1"><%= card.leisure.title %></span></p>
        <p class="px-1 m-0"> <%= card.leisure.date %> </p>
      </div>

    </div>
  <% else %>
    <div class="card card-else">
      <div class="position-relative">
        <%= cl_image_tag card.leisure.photo.key, crop: :fill, width: 500, class: 'card-else-image', alt: card.leisure.alt_text.presence || card.leisure.title %>

        <% if current_user.admin %>
          <%= link_to card_path(card), class: 'text-danger p-2 bg-light rounded card-else-delete position-absolute',
          data: {turbo_method: :delete, turbo_confirm: "Quer apagar este card?"} do
          %>
            <i class="fa-solid fa-delete-left"></i>
          <% end %>
        <% end %>
      </div>

      <div class="card-else-body">
        <p class="m-0"><span class="fw-light px-1">
          <% if card.leisure.category.name == "Danca" %>
            Dança
          <% elsif card.leisure.category.name == "Musica" %>
            Música
          <% else %>
            <%=card.leisure.category.name  %>
          <% end %></span> | <span class="fw-bold px-1"><%= card.leisure.title %></span></p>
        <p class="px-1 m-0"> <%= card.leisure.date %> | <%= card.leisure.leisure_venues[0].venue.name %></p>
      </div>

    </div>

  <% end %>
<% end %>
