<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 bg-light rounded p-4">
      <h2 class="text-center h3 mb-3 fw-bold">Nova categoria</h2>
      <%= simple_form_for @category do |f| %>
        <%= f.input :name, label: 'Category Name' %>

        <h3>Subcategories</h3>
        <div id="subcategories">
          <%= f.simple_fields_for :subcategories do |subcategory_form| %>
            <%= render 'subcategory_fields', f: subcategory_form %>
          <% end %>
        </div>

        <%= link_to_add_association 'Add Subcategory', f, :subcategories %>

        <div class="actions">
          <%= f.button :submit, 'Save Category' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
